/* Padrão */

.container {
  margin: 0 auto;
  padding: 15px 15px;
}

.row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 15px;
  width: 100%;
}

.col-30 {
  width: 30%;
}

.col-50 {
  width: 50%;
}

.col-70 {
  width: 70%;
}

.col-100 {
  width: 100%;
}

.text-right {
  text-align: right;
}

.img-responsive {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* Fim Padrão */

.box-title-pomodoro p {
  margin: 15px 0;
  font-size: 2.3rem;
  color: #333;
}

body {
  position: relative;
  font-family: Arial;
  /* display: flex;
  flex-flow: column;
  margin: 5px; */
}

#pomodoroTaskTitle {
  font-size: 32px;
  font-weight: bold;

}

#selectedDay {
  background-color: rgb(255, 179, 179);
}

#formConfig img:not(#selectedFlag) {
  filter: grayscale(100%)
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

#iconConfig {
  width: 50px;
  height: 50px;
}

#bodyContainer {
  display: flex;
  margin-top: 2%;
  justify-content: center;
  background-color: #FFFCFF;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}


#linha {
  border-right: 1px solid black;
  margin: 0 5%;
  flex-flow: column wrap;
}

#taskListContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
}

#tasklist {
  flex-flow: column wrap;
  width: 100%;
  height: 630px;
  overflow-y: scroll;
  margin-bottom: 20px;
  box-shadow: 0 0 6px #333;
}

#btnAddTask {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: .6s all ease;
}

#btnAddTask:hover{
  transform: scale(1.1);
  transition: .6s all ease;
}

#languageHeader,
#timerHeader {
  color: crimson;
  font-weight: bold;
}

#header button {
  background-color: #92a1d1;
}

#calendarModule {
  max-width: 770px;
}

.header {
  color: black;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;

  display: flex;
  justify-content: center;
}

#weekdays {
  width: 100%;
  display: flex;
  color: black;
  text-align: center;
  font-weight: bold;
}

#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 40px;
  font-weight: 500;
}

.day:hover {
  background-color: #e8faed;
}

.day+#currentDay {
  background-color: #e8f4fa;
}

.day+#selected {
  background-color: blueviolet;
}

.taskDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 10px;
  padding: 10px;
  border-color: black;
  border-style: solid;
  min-height: 20px;
  max-height: 55px;
  overflow: hidden;
  margin: 10px;
}

.taskDiv img {
  transform: scale(1);
  cursor: pointer;
  transition: .6s all ease;
}

.taskDiv img:hover {
  transform: scale(1.1);
  transition: .6s all ease;
}

.taskTitle {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

.taskTitle::after {
  content: "Editar";
  position: relative;
  font-size: 8px;
  top: -10px;
  left: 5px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 3px 7px;
  background: #cbfdcb;
  transition: .6s all ease;
}

.taskTitle:hover::after {
  font-size: 9px;
  transition: .6s all ease;
}

.taskIndication {
  border: 1px solid red;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

#newTaskModal,
#deleteTaskModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  border: 2px solid black;
  max-width: 500px;
  width: 79%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  font-family: sans-serif;
  height: 150px;
}


#btnReturn {
  position: absolute;
  left: 13%;
  top: 86%;
  transform: translate(-50%, -50%);
  transition: .6s all ease;
  width: 50px;
}

#btnReturn:hover {
  cursor: pointer;
  transition: .6s all ease;
  width: 65px;
}

#pomodoroModal {
  display: none;
  position: fixed;
  z-index: 20;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#backButton,
#nextButton {
  width: 26px;
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

#configModal {
  display: none;
  position: absolute;
  right: 44px;
  top: 70px;
  margin-top: 10px;
  z-index: 20;
  background-color: gainsboro;
  max-width: 400px;
  height: 400px;
  border-radius: 10px;
  border: 3px solid black;
  padding: 20px;
}

.configHeader {
  font-size: 30px;
  text-align: center;
  color: #ff5c5c;
  /*#d36c6c */
}

#formConfig {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.configRows {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.configColumn {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 13px;
  margin: 17px 5px;
}

.configColumn p {
  font-weight: bold;
}

.configColumn input {
  border-radius: 20px;
  width: 60px;
  height: 20px;
  padding: 5px;
}

#btnResetConfig,
#btnSubmitConfig {
  margin-top: 10px;
  border-radius: 20px;
  width: 200px;
  align-self: center;
  height: 30px;
  background-color: rgb(255, 127, 127);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#taskTitleInput,
#taskEditTitleInput {
  padding: 10px;
  width: 85%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}

#taskTitleInput.error {
  border: 2px solid red;
}

#cancelButton,
#closeButton {
  position: absolute;
  right: 10px;
  top: 20px;
}

#btnStartTimer,
#btnPauseTimer,
#btnFinishTask {
  background-color: #92a1d1;
}

#addButton,
#saveButton,
#deleteButton {
  background-color: rgb(255, 127, 127);
  color: black;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#deleteButton {
  right: 100px;
  background-color: rgb(213, 160, 160);
}

#taskText {
  font-size: 14px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.box-img-pomodoro img {
  padding: 15px 0;
}

.ajuste-img img {
  transform: rotate(0);
  transition: .6s all ease;
  cursor: pointer;
}
.ajuste-img img:hover {
  transform: rotate(350deg);
  transition: .6s all ease;
}

#cronometro,
#breakLabel {
  font-family: Arial;
  font-size: 75px;
  text-align: center;
}

#botao {
  background-color: rgb(231, 91, 91);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  font-size: 55px;
  color: white;
  border-radius: 100px;
  cursor: pointer;
}

#botao-concluir {
  background-color: rgb(231, 91, 91);
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  font-family: arial;
  font-size: 20px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

#imgLogo {
  width: 294px;
  margin-left: 0;
}

.configColumn img {
  width: 70px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .col-70 {
    width: 100%;
  }

  .col-30 {
    width: 92%;
  }
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}

.boxTradutor,.goog-te-banner-frame,.skiptranslate{
  display: none;
}

.nav-translate img{
  width: 30px;
}